/*  NAVBAR  */
body {
    font-family: 'Inter', sans-serif;
}

nav {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    font-weight: 600;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

li :hover {
    color: blueviolet;
}

.full-nav {
    padding-bottom: 2%;
    background-color: #222222;
}

.logo {
    width: 70px;
    height: auto;
    margin-top: 20px;
    margin-left: 30px;
}

/*  CONTENT  */
.content {
    padding-top: 50px;
}

.addr {
    font-size: large;
    vertical-align: top;
    padding-left: 15%;
}

.addrhead {
    font-size: 30px;
}

.heading {
    text-align: center;
    font-size: 40px;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
}

table {
    margin: 50px;
}

td {
    width: 50%;
}

/*  FOOTER  */
footer {
    text-align: center;
    color: white;
    background-color: #222222;
    padding-bottom: 30px;
    padding-top: 70px;
}