/*  NAVBAR  */
body {
    font-family: 'Inter', sans-serif;
}

nav {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    font-weight: 600;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

li :hover {
    color: blueviolet;
}

.full-nav {
    padding-bottom: 2%;
    background-color: #222222;
}

.logo {
    width: 70px;
    height: auto;
    margin-top: 20px;
    margin-left: 30px;
}

/*  CONTENT  */
.content {
    padding-top: 50px;
}

.heading {
    text-align: center;
}

/*  FOOTER  */
footer {
    text-align: center;
    color: white;
    background-color: #222222;
    padding-bottom: 30px;
    padding-top: 70px;
}