nav {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.logo {
    width: 70px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
}

.triangle {
    width: 200px;
    height: 200px;
    clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
    background-color: #ff0000;
}
  